.services {
    height: 2rem;
    width: 5rem;
    background-color: RED;
}
.dropdown-menu{
    overflow: hidden;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}
.dropdown-menu service-button {
    height: 2rem;
    width: max-content;
}