.header-main-div {
    /* text-transform: uppercase; */
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2rem;
    padding-right: 2rem;
    margin:0;
    background-color: black;
    /* color is just for testing purposes  */
    height: 3rem;
    min-width: 90vw;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.back-button-hamburger-menu {
    display: none;
}


.services{
    height: auto;
}



.first-service-button{
    padding-top: 1rem;
}

.dropdown-menu{
    overflow: hidden;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    height: 0;
    position: absolute;
}
.service-button {

    height: 2rem;
    width: max-content;
    
}
.hamburger-menu-div {
    background-color: violet;
    overflow: hidden;
    position: absolute;
    width: 0;

    
}
.menu-div {
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;

}

@media (max-width: 600px) {
    .back-button-hamburger-menu {
        display: flex;
    }
    .header-main-div {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .menu-div {
        padding-top: 1rem;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 0;
        top: 0;
        translate: +100% 0;
        transition: transform 1s;
        padding-inline: 3rem;
        flex-direction: column;
        background-color: aliceblue;
    }
    .header-main-div {
        color: black;
    }


}
.image {
    height: 30px;
}

.hamburger-button {
    width: 0;
    height: auto;
}

.menu-item {
    margin: 1rem;
    cursor: default;
    align-items: center;
    
}