.carousel-sliding-div {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    /* align-items: center; */
    /* flex-wrap: none; */
    height: auto;


    max-width: 30vw;
    max-width: 30vw;
    
    
    transition:  0.6s transform ease;
  

}
.carousel-main-div {
    width: 30vw;
    height: auto;
    overflow:hidden;
}

.carousel-image {
    width:inherit !important;
    min-width: inherit;
    max-width: inherit;
    height: auto;
    max-height: inherit;
}
.carousel-slide-div {
    width:inherit ;
    min-width: inherit;
    max-width: inherit;
    height: auto;
    max-height: inherit;
}