.carousel-main-div {
    position: relative;
    display: flex;
    width: 30vw;
    height: auto;
    overflow: hidden;
    align-items: center;
}

.button-left,
.button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.button-left {
    left: 0;
}

.button-right {
    right: 0;
}
.button-png {
    height: 1rem;
    width: auto;
}

.carousel-sliding-div {
    display: flex;
    position: relative;
    flex-direction: row;
    height: auto;
    max-width: 30vw;
    transition: 0.6s transform ease-in;
    
}

.carousel-image {
    position: relative;
    width: inherit !important;
    min-width: inherit;
    max-width: inherit;
    height: auto;
    max-height: inherit;
}

.carousel-slide-div {
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    height: auto;
    max-height: inherit;
}
